@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Luckiest+Guy&family=Lobster&family=Aclonica&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}
.header {
  background-color: #e9ecef;
  color: #2c2c2c;
  text-shadow: 1px 1px 2px #2c2c2c;
  border-bottom: 4px solid #BBB;
}
.header h1 {
  font-size: 2.5em;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-image:after {
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0px, rgba(0,0,0,0.1));
}
.carousel-control-icon a span
{
  width: 50px;
  height: 50px;
  filter:drop-shadow(3px 3px 1px #000);
}
.carousel-caption h1 {
  font-size: 325%;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #000;
}
.carousel-caption h3 {
  font-size: 175%;
  font-weight: 500;
  text-shadow: 2px 2px 2px #000;
  padding-bottom: 1rem;
}
br {
  display: none;
}
.project-video {
  position: relative;
  padding-bottom: 56.25%;
}
.project-video iframe {
  position: absolute;
  top: 45%;
  bottom: 55%;
  left: 25%;
  width: 50%;
  height: 50%;
  -moz-box-shadow: #000 5px 5px 15px;
  -webkit-box-shadow: #000 5px 5px 15px;
  -o-box-shadow: #000 5px 5px 15px;
  box-shadow: #000 5px 5px 15px;
  outline: 3px solid white;
}
.project-youtube-icon {
  display: none;
}
.carousel-logo {
  padding-bottom: 10%;
  font-size: 4.5em;
  filter: drop-shadow(2px 2px 2px #000);
}
.carousel-logo a {
  margin: 5%;
}
.carousel-text {
  position: absolute;
  top: 0%;
  bottom: auto;
}
.contribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.contribution .jumbotron {
  background-color: rgba(25, 25, 25, 0.75);
  filter: drop-shadow(2px 2px 2px #000);
  padding: 1.5%;
  outline: 2px solid #FFF;
}
.contribution p {
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 1vw;
  margin: 0;
}
.throw-thyself-contribution:after {
  content: 'Throw Thyself is a local multiplayer physics-based battleground arena. I worked on this project as my primary 2nd year major project over the course of 4 months. My main responsibilities as the programmer included creating a fluent local multiplayer system and handling fast paced physics interactions.'
}
.honour-among-thieves-contribution:after {
  content: 'Honour Among Thieves is a local co-op sabotage-heavy party game. I worked on this project as a secondary 2nd year major project over the course of 4 months. My main duty was programming all the Unity editor tools the developers needed to create their game without any coding requirements.'
}
.marvelous-murgo-contribution:after {
  content: 'Marvelous Murgo is a smaller project I did the programming for in my 2nd year over the course of 2 weeks. It is a cross-platform virtual memory match game that supports PC and Android VR. My main responsibilities included implementing the VR elements and using tweening to animate dynamically allocated card counts.'
}
.ultraball-contribution:after {
  content: 'Ultraball is a 2.5D platformer using Soft-Body physics interactions as a focus. This project was created for my 1st year major project over a 2 month duration, with me as the sole programmer. My key responsibilities included implementing the NVIDIA FleX soft body library.'
}
.about-me .jumbotron {
  margin: 0;
  padding: 2%;
  border-radius: 0;
  text-align: center;
}
.about-me img {
  width: 50%;
  height: auto;
  outline: 3px solid #AAA;
}
.about-me p {
  font-size: 1.25vw;
}
.about-me-button a {
  color: #444;
  border-width: 2px;
}
.padding {
  padding-bottom: 2rem;
}
.skills-logo {
  font-size: 2.5em;
}
.skills-text {
  font-size: 1.5em;
}
.social a {
  font-size: 4vw;
  padding: 5%;
}

.fa-bitbucket,
.fa-itch-io,
.fa-youtube {
  color: #d5d5d5;
}
.fa-bitbucket:hover,
.fa-itch-io:hover,
.fa-youtube:hover {
  color: #868686;
}

.fa-github {
  color: #6e5494;
}
.social .fa-itch-io {
  color: #FA5C5B;
}
.fa-linkedin {
  color: #0a66c2;
}
.fa-twitter {
  color: #00aced;
}
.fa-github:hover,
.social .fa-itch-io:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 20rem;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5 
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.dark-100 {
  border-top: 1px solid #363636;
  width: 100%;
  margin: 0;
  margin-top: 2%;
}




/*---Media Queries --*/
@media (max-width: 992px) {
  .header h1 {
    font-size: 4vw;
  }
  .carousel-text {
    top: 0%;
  }
  .carousel-text h1 {
    font-size: 250%;
  }
  .carousel-text h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .project-video iframe {
    position: absolute;
    top: 55%;
    left: 30%;
    width: 40%;
    height: 40%;
  }
  .carousel-logo {
    padding-bottom: 12.5%;
    font-size: 3em;
  }
  .carousel-logo a {
    margin: 5%;
  }
  .contribution p {
    font-size: 1.25vw;
  }
  .about-me img {
    width: 60%;
  }
  .about-me p {
    font-size: 1.5vw;
  }
  .skills-logo {
    font-size: 2em;
  }
  .skills-text {
    font-size: 1.5em;
  }
  .social a {
    font-size: 6vw;
    padding: 5%;
  }
  }
@media (max-width: 768px) {
  .header h1 {
    font-size: 5vw;
  }
  .carousel-text {
    top: 5%;
  }
  .carousel-text h1 {
    font-size: 195%;
  }
  .carousel-text h3 {
    font-size: 110%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  br {
    display: inline;
  }
  .project-video {
    display: none;
  }
  .project-youtube-icon {
    display: inline;
  }
  .carousel-logo {
    padding-bottom: 12.5%;
    font-size: 2.5em;
  }
  .carousel-logo a {
    margin: 2.5%;
  }
  .contribution p {
    font-size: 1.5vw;
  }
  .carousel-control-icon a span {
    width: 40px;
    height: 40px;
  }
  .throw-thyself-contribution:after {
    content: 'My primary 2nd year major project, produced over 4 months. My responsibilities were creating local multiplayer and handling difficult physics interactions.'
  }
  .honour-among-thieves-contribution:after {
    content: 'My secondary 2nd year major project, produced over 4 months. My main responsibilities included creating tools for the developers to use.'
  }
  .marvelous-murgo-contribution:after {
    content: 'Small project created in 2 weeks. My main responsibilities were porting to PC and Android VR and using dynamic tween animations.'
  }
  .ultraball-contribution:after {
    content: 'My 1st year major project, created over 2 months. My key responsibilities included implementing the NVIDIA FleX soft body library.'
  }
  .about-me img {
    width: 30%;
  }
  .about-me h3 {
    text-align: center;
  }
  .about-me p {
    font-size: 2.5vw;
    text-align: center;
  }
  .about-me-button {
    text-align: center;
  }
  .skills-logo {
    font-size: 1.5em;
  }
  .skills-text {
    font-size: 1.5em;
  }
  .social a {
    font-size: 6vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media (max-width: 576px) {
  .carousel-text {
    top: 5%;
  }
  .carousel-text h1 {
    font-size: 125%;
    margin-bottom: 1%;
  }
  .carousel-text h3 {
    font-size: 75%;
  }
  .carousel-logo {
    position: absolute;
    bottom: -140%;
    font-size: 2em;
  }
  .carousel-logo a {
    margin: 3%;
  }
  .contribution .jumbotron {
    padding: 1%;
    margin: 5%;
    margin-bottom: 10%;
    outline-width: 1px;
  }
  .contribution p {
    font-size: 2.5vw;
  }
  .carousel-control-icon a span {
    width: 30px;
    height: 30px;
  }
  .carousel-indicators {
    display: none;
  }
  .about-me img {
    width: 50%;
  }
  .about-me p {
    font-size: 3.5vw;
  }
  .skills-logo {
    font-size: 1.5em;
  }
  .skills-text {
    font-size: 1em;
  }
  .social a {
    font-size: 7.5vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
